/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Kurtis Romanchuk's custom styles
   ========================================================================== */
/* Import variable styles */
/*! Jade Greeen SCSS Variables File by Kurtis Romanchuk */
/* ==========================================================================
   Colours
   ========================================================================== */
/* our jade green */
/* our jade green */
/* lighter jade green for activated states */
/* our gold */
/* ==========================================================================
   Shadows
   ========================================================================== */
/* ==========================================================================
   Content Sizes
   ========================================================================== */
/* ==========================================================================
   Font Style Mixins
   ========================================================================== */
/* ==========================================================================
   Style Mixins
   ========================================================================== */
/* Import layout styles */
/*! Jade Greeen SCSS Layout File by Kurtis Romanchuk */
/* ==========================================================================
   Page Colouring
   ========================================================================== */
html {
  color: #353832;
  background-color: white; }

/* ==========================================================================
   Text Styling
   ========================================================================== */
/* ==========================================================================
   Page Layout Framework (mobile first)
   ========================================================================== */
html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative;
  padding-bottom: 6em;
  margin: 0;
  min-height: 100%; }

.jadegreen-layout-pageheader {
  background: white;
  width: 100%;
  height: 200px;
  display: table; }
  .jadegreen-layout-pageheader img {
    display: block;
    height: 195px;
    width: auto;
    margin: 0 auto; }

.jadegreen-layout-pagecontainer {
  background-color: white;
  max-width: 1000px;
  margin: 25px auto;
  min-height: 100%;
  padding: 1em;
  border-style: solid;
  border-radius: 40px;
  border-width: 4px;
  border-color: #618832; }

.jadegreen-layout-footer {
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 1em;
  text-align: center; }
  .jadegreen-layout-footer h3 {
    color: #618832; }

/* Import navbar styles */
/*! Jade Greeen SCSS Navigation Bar by Kurtis Romanchuk */
/* ==========================================================================
   Navigation Bar
   ========================================================================== */
.jadegreen-layout-navbackground {
  height: 80px;
  background: white;
  position: relative; }

.jadegreen-layout-navcontainer {
  max-width: 1000px;
  margin: 0 auto; }

.jadegreen-layout-navbrand {
  float: left;
  display: none; }
  .jadegreen-layout-navbrand img {
    max-height: 94px; }

.jadegreen-layout-navlist {
  list-style: none;
  padding: 0;
  width: 752px;
  margin: 0 auto; }
  .jadegreen-layout-navlist li {
    display: inline;
    position: relative; }
    .jadegreen-layout-navlist li a {
      background: white;
      color: #618832;
      display: inline-block;
      padding-top: 25px;
      width: 80px;
      height: 80px;
      font-size: 0.75rem;
      margin: auto 4px;
      box-shadow: 0px 1px 3px black, 0px 1px 2px #353832;
      text-decoration: none;
      text-align: center;
      border-style: solid;
      border-radius: 40px;
      border-width: 4px;
      border-color: white;
      font-family: "Petit Formal Script", cursive;
      font-weight: bold; }
      .jadegreen-layout-navlist li a:hover {
        border-color: #618832;
        box-shadow: 0px 3px 6px black, 0px 3px 6px #353832;
        color: #CAB11F;
        transition: border-color 0.5s ease, box-shadow 0.5s ease, color 0.4s ease; }

.jadegreen-layout-navdroplink:hover .jadegreen-layout-navdropdown {
  display: block; }

.jadegreen-layout-navdropdown {
  position: absolute;
  padding: 0;
  top: 59px;
  left: 0;
  width: 80px;
  z-index: 1;
  display: none; }
  .jadegreen-layout-navdropdown li a {
    margin: 4px; }

.jadegreen-layout-navmobile {
  display: none;
  position: relative;
  z-index: 1;
  float: right;
  background: white;
  height: 80px;
  width: 80px; }

#jadegreen-layout-navcurrent {
  border-color: #618832;
  box-shadow: 0px 3px 6px black, 0px 3px 6px #353832; }

@media only screen and (max-width: 752px) {
  .jadegreen-layout-pageheader {
    display: none; }
  .jadegreen-layout-navbrand {
    display: block; }
  .jadegreen-layout-navmobile {
    cursor: pointer;
    cursor: hand;
    display: block; }
    .jadegreen-layout-navmobile:hover #jadegreen-layout-navtoggle span,
    .jadegreen-layout-navmobile:hover #jadegreen-layout-navtoggle span:before,
    .jadegreen-layout-navmobile:hover #jadegreen-layout-navtoggle span:after {
      background: #CAB11F; }
    .jadegreen-layout-navmobile:hover #jadegreen-layout-navtoggle.active span {
      background-color: transparent; }
  .jadegreen-layout-navlist {
    width: 80px;
    float: right;
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 10px;
    display: none; }
    .jadegreen-layout-navlist li a {
      margin: 4px; }
  .jadegreen-layout-navdropdown {
    position: static; } }

@media screen and (min-width: 752px) {
  .jadegreen-layout-navlist {
    display: block !important; } }

#jadegreen-layout-navtoggle {
  z-index: 1;
  position: absolute;
  left: 16.5px;
  top: 37.5px;
  cursor: pointer; }
  #jadegreen-layout-navtoggle span,
  #jadegreen-layout-navtoggle span:before,
  #jadegreen-layout-navtoggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #618832;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #jadegreen-layout-navtoggle span:before {
    top: -10px; }
  #jadegreen-layout-navtoggle span:after {
    bottom: -10px; }
  #jadegreen-layout-navtoggle.active span {
    background-color: transparent; }
    #jadegreen-layout-navtoggle.active span:before, #jadegreen-layout-navtoggle.active span:after {
      top: 0; }
    #jadegreen-layout-navtoggle.active span:before {
      transform: rotate(45deg);
      background: #CAB11F; }
    #jadegreen-layout-navtoggle.active span:after {
      transform: rotate(-45deg);
      background: #CAB11F; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
