/*! Jade Greeen SCSS Layout File by Kurtis Romanchuk */

/* ==========================================================================
   Page Colouring
   ========================================================================== */

html {
	color: $primary-mediumgrey;
	background-color: $primary-lightgrey;
}

/* ==========================================================================
   Text Styling
   ========================================================================== */







/* ==========================================================================
   Page Layout Framework (mobile first)
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* .jadegreen-layout-pageheader {
	background: $primary-white;
	width: 100%;
	height: $pageheader-height;
	display: table;
	img {
		display: block;
		height: $pageheader-height;
		width: auto;
		margin: 0 auto;
	}
} */

// Background for the navigational bar
.jadegreen-layout-navbackground {
	height: $nav-height;
	background: $primary-color;
	box-shadow: $low-shadow-active;
}

// Container for navigational bar
.jadegreen-layout-navcontainer {
	max-width: $content-width;
	margin: 0 auto;
}

// Branding for navigational bar
.jadegreen-layout-navbrand {
	float: left;
	a {
		background: $primary-color;
		color: $primary-white;
		display: inline-block;
		padding: 0 20px;
		line-height: $nav-height;
		text-transform: uppercase;
		font-weight: bold;
		box-shadow: $low-shadow;
		text-decoration: none;
		&:hover {
			background: $primary-light;
			color: $secondary-color;
			box-shadow: $low-shadow-active;
		}
	}
}

// Navigational menu styling
.jadegreen-layout-navmenu {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				background: $primary-color;
				color: $primary-white;
				display: inline-block;
				padding: 0 20px;
				line-height: $nav-height;
				box-shadow: $low-shadow;
				text-decoration: none;
				&:hover {
					background: $primary-light;
					color: $secondary-color;
					box-shadow: $low-shadow-active;
				}
				// Below targets menu items that have dropdown with them
				&:not(:only-child):after {
					padding-left: 4px;
					content: ' ▾';
				}
			}
			ul li {
				a {
					min-width: 180px;
					paddding: 10px;
					line-height: $nav-height/2;
				}
			}
		}
	}
}

// Dropdown meny styling
.jadegreen-layout-navdropdown {
	position: absolute;
	z-index: 1;
	box-shadow: low-shadow;
	display: none;
}

//Mobile navigation menu styling
.jadegreen-layout-navmobile {
	display: none;
	float: right;
	background: $primary-darkgrey;
	height: $nav-height;
	width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
	.jadegreen-layout-navmobile {
		display: block;
	}

	.jadegreen-layout-navmenu {
    	width: 100%;
	    padding: 0 0 15px;
	    ul {
	      	display: none;
	      	li {
	        	float: none;
	        	a {
	          		width: 100%;
	          		padding: 15px;
	          		line-height: 20px;
	        	}
	        	ul li a {
	          		padding-left: 30px;
	        	}
	      	}
	    }
  	}

  	.jadegreen-layout-navdropdown {
    	position: static;
  	}
}

@media screen and (min-width: $breakpoint) {
  .jadegreen-layout-navmenu li {
    display: block !important;
  }
}

// Animated hamburger icon
#jadegreen-layout-navtoggle {
	position: absolute;
	left: 18px;
  	top: 22px;
	float: right;
	cursor: pointer;
	padding: 32px 0px 0px 17px;
	span,
	span:before,
	span:after {
	    cursor: pointer;
	    border-radius: 1px;
	    height: 5px;
	    width: 35px;
	    background: $primary-white;
	    position: absolute;
	    display: block;
	    content: '';
	    transition: all 300ms ease-in-out;
	  }
	span:before {
	  	top: -10px;
	}
	span:after {
	  	bottom: -10px;
	}
	&.active span {
	  	background-color: transparent;
	  	&:before,
	   	&:after {
	    	top: 0;
	    }
	    &:before {
	    	transform: rotate(45deg);
	    }
	    &:after {
	    	transform: rotate(-45deg);
	    }
	}
}

// Page container styling
.jadegreen-layout-pagecontainer {
	background-color: $primary-white;
	max-width: $content-width;
	margin: 0 auto;
	padding: 1em;
}

// Page footer styling
.jadegreen-layout-footer {
	max-width: $content-width;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}
