/*! Jade Greeen SCSS Layout File by Kurtis Romanchuk */

/* ==========================================================================
   Page Colouring
   ========================================================================== */

html {
	color: $primary-mediumgrey;
	background-color: $primary-lightgrey;
}

/* ==========================================================================
   Text Styling
   ========================================================================== */







/* ==========================================================================
   Page Layout Framework (mobile first)
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.jadegreen-layout-pageheader {
	background: $primary-white;
	width: 100%;
	height: $pageheader-height;
	display: table;
	img {
		display: block;
		height: $pageheader-height;
		width: auto;
		margin: 0 auto;
	}
}

// Background for the navigational bar
.jadegreen-layout-navbackground {
	height: $nav-height;
	background: $primary-color;
	box-shadow: $low-shadow-active;
}

// Container for navigational bar
.jadegreen-layout-navcontainer {
	max-width: $content-width;
	margin: 0 auto;
}

// Branding for navigational bar
.jadegreen-layout-navbrand {
	float: left;
	a {
		background: $primary-color;
		color: $primary-white;
		display: inline-block;
		padding: 0 20px;
		line-height: $nav-height;
		text-transform: uppercase;
		font-weight: bold;
		box-shadow: $low-shadow;
		text-decoration: none;
		&:hover {
			background: $primary-light;
			color: $secondary-color;
			box-shadow: $low-shadow-active;
		}
	}
}

// Navigational menu styling
.jadegreen-layout-navmenu {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				background: $primary-color;
				color: $primary-white;
				display: inline-block;
				padding: 0 20px;
				line-height: $nav-height;
				box-shadow: $low-shadow;
				text-decoration: none;
				&:hover {
					background: $primary-light;
					color: $secondary-color;
					box-shadow: $low-shadow-active;
				}
				// Below targets menu items that have dropdown with them
				&:not(:only-child):after {
					padding-left: 4px;
					content: ' ▾';
				}
			}
			ul li {
				a {
					min-width: 180px;
					paddding: 10px;
					line-height: $nav-height/2;
				}
			}
		}
	}
}

// Dropdown meny styling
.jadegreen-layout-navdropdown {
	position: absolute;
	z-index: 1;
	box-shadow: low-shadow;
	display: none;
}

// Page container styling
.jadegreen-layout-pagecontainer {
	background-color: $primary-white;
	max-width: $content-width;
	margin: 0 auto;
	padding: 1em;
}

// Page footer styling
.jadegreen-layout-footer {
	max-width: $content-width;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}
