/*! Jade Greeen SCSS Layout File by Kurtis Romanchuk */

/* ==========================================================================
   Page Colouring
   ========================================================================== */

html {
	color: $primary-mediumgrey;
	background-color: $primary-lightgrey;
}

/* ==========================================================================
   Text Styling
   ========================================================================== */







/* ==========================================================================
   Page Layout Framework (mobile first)
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.jadegreen-layout-pageheader {
	background: $primary-color;
	width: 100%;
	height: $pageheader-height;
	display: table;
	h1 {
		color: $primary-white;
		display: table-cell;
		vertical-align: middle;
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
	}
}

.jadegreen-layout-nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				display: block;
				padding: 0 20px;
				display: inline-block;
				line-height: $nav-height;
				background: $primary-white;
				color: $primary-color;
				box-shadow: $low-shadow;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					background: $primary-color;
					color: $secondary-color;
					box-shadow: $low-shadow-active;
				}
				&:not(:only-child):after {
					padding-left: 4px;
					content: ' ▾';
				}
			}
			ul li {
				min-width: 250px;
				a {
					paddding: 15px;
					line-height: $nav-height;
				}
			}
		}
	}
}

.jadegreen-layout-navdropdown {
	position: absolute;
	z-index: 1;
	box-shadow: low-shadow;
}

.jadegreen-layout-pagecontainer {
	background-color: $primary-white;
	max-width: $content-width;
}

