/*! Jade Greeen SCSS Navigation Bar by Kurtis Romanchuk */

/* ==========================================================================
   Navigation Bar
   ========================================================================== */

   // Background for the navigational bar
.jadegreen-layout-navbackground {
	height: $nav-height;
	background: $primary-white;
	//box-shadow: $low-shadow;
	position: relative;
}

// Container for navigational bar
.jadegreen-layout-navcontainer {
	max-width: $content-width;
	margin: 0 auto;
}

// Branding for navigational bar
.jadegreen-layout-navbrand {
	float: left;
	a {
		background: $primary-white;
		color: $primary-color;
		display: inline-block;
		padding: 0 20px;
		line-height: $nav-height;
		text-transform: uppercase;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: $secondary-color;
		}
	}
}

// Navigational menu styling
.jadegreen-layout-navlist {
	list-style: none;
	padding: 0;
	//width: 8*(($nav-height)+2*($nav-buttonmargin));
	width: 752px;
	margin: 0 auto;
	li {
		display: inline;
		position: relative;
		a {
			background: $primary-white;
			color: $primary-color;
			display: inline-block;
			padding-top: 25px;
			width: $nav-height;
			height: $nav-height;
			border-style: solid;
			border-radius: ($nav-height)/2;
			border-width: 4px;
			border-color: $primary-white;
			font-size: 0.75rem;
			margin: auto $nav-buttonmargin;
			box-shadow: $low-shadow;
			text-decoration: none;
			text-align: center;
			&:hover {
				border-color: $primary-color;
				box-shadow: $low-shadow-active;
				color: $secondary-color;
				transition: border-color 0.5s ease,
							box-shadow 0.5s ease,
							color 0.4s ease;
			}
			// Below targets menu items that have dropdown with them
			&:not(:only-child):after {
				content: '▾';
			}
		}
	}
}

// Dropdown menu styling
.jadegreen-layout-navdropdown {
	position: absolute;
	padding: 0;
	top: ($nav-height)+($nav-buttonmargin)-25px;
	left: 0;
	width: $nav-height;
	z-index: 1;
	li {
		a {
			margin: ($nav-buttonmargin) $nav-buttonmargin;
		}
	}
	display: none;
}

// Mobile navigation menu styling
.jadegreen-layout-navmobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: $primary-color;
	height: $nav-height;
	width: $nav-height;
}

// Colour the current page manu item differently
#jadegreen-layout-navcurrent {
	border-color: $primary-color;
	box-shadow: $low-shadow-active;
}

// Display mobile menu instead when screen becomes too narrow
@media only screen and (max-width: $breakpoint) {
	.jadegreen-layout-navmobile {
		cursor: pointer; cursor: hand;
		display: block;
		&:hover {
			#jadegreen-layout-navtoggle {
				span,
				span:before,
				span:after {
					background: $secondary-color;
				}
				&.active span {
	  				background-color: transparent;
	  			}
			}
		}
	}

	.jadegreen-layout-navmenu {
    	width: 100%;
	    padding: 0 0 15px;
	    ul {
	      	display: none;
	      	li {
	        	float: none;
	        	a {
	          		width: 100%;
	          		padding: 15px;
	          		line-height: 20px;
	        	}
	        	ul li a {
	          		padding-left: 30px;
	        	}
	      	}
	    }
  	}

  	.jadegreen-layout-navdropdown {
    	position: static;
    	background: $primary-color;
    	box-shadow: $low-shadow;
  	}
}

@media screen and (min-width: $breakpoint) {
    .jadegreen-layout-navlist {
    	display: block !important;
  	}
}

// Animated hamburger icon
#jadegreen-layout-navtoggle {
	z-index: 1;
	position: absolute;
	left: (($nav-height) - 35)/2;
  	top: (($nav-height) - 5)/2;
	cursor: pointer;
	span,
	span:before,
	span:after {
	    cursor: pointer;
	    border-radius: 1px;
	    height: 5px;
	    width: 35px;
	    background: $primary-white;
	    position: absolute;
	    display: block;
	    content: '';
	    transition: all 300ms ease-in-out;
	  }
	span:before {
	  	top: -10px;
	}
	span:after {
	  	bottom: -10px;
	}

	&.active span {
	  	background-color: transparent;
	  	&:before,
	   	&:after {
	    	top: 0;
	    }
	    &:before {
	    	transform: rotate(45deg);
	    	background: $secondary-color;
	    }
	    &:after {
	    	transform: rotate(-45deg);
	    	background: $secondary-color;
	    }
	}
}