/*! Jade Greeen SCSS Variables File by Kurtis Romanchuk */

/* ==========================================================================
   Colours
   Based on 198 on paletton.com base hex 00AB6F
   Complimentary yellow at 90 degrees
   ========================================================================== */

$primary-color: #07754F; /* our jade green */
$primary-light: #00AB6F; /* lighter jade green for activated states */
$secondary-color: #FFF800; /* our gold */
$primary-lightgrey: #D5DDDA;
$primary-mediumgrey: #3A3F3D;
$primary-darkgrey: #252928;
// $primary-white: #E2FBF2;
$primary-white: white;

/* ==========================================================================
   Shadows
   ========================================================================== */

$low-shadow: 0px 1px 3px black, 0px 1px 2px $primary-darkgrey;
$low-shadow-active: 0px 3px 6px black, 0px 3px 6px $primary-darkgrey;
$high-shadow: 0px 10px 20px black, 0px 6px 6px $primary-darkgrey;
$high-shadow-active: 0px 14px 28px black, 0px 10px 10px $primary-darkgrey;
$high-shadow-very: 0px 19px 38px black, 0px 15px 12px $primary-darkgrey,;

/* ==========================================================================
   Content Sizes
   ========================================================================== */

   $content-width: 1200px;
   $breakpoint: 800px;
   $pageheader-height: 200px;
   $nav-height: 80px;
